:root {
    --border-sections: aqua;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial;
    background: #0f0f0f;
    color: rgb(232, 252, 255);
    cursor: url("pointer.png"), auto;
  }
@media (max-width: 600px) { 
header {
    display: flex;
    gap: 10px;
    
    align-items: center;
    padding: 20px;
  justify-content: space-between;
  align-items: center;
  
}

}

.Logo {
    border-radius: 50px;
    max-width: 100%;
    height: 95px;
    border: 2px solid #00e5ff;
    animation: neonPulse 3s infinite;
    box-shadow: 0 0 5px #26F5F5;
}

@keyframes neonPulse {
  0% {
    box-shadow: 0 0 5px #26F5F5;
  }
  50% {
    box-shadow: 0 0 20px #26F5F5, 0 0 40px #26F5F5;
  }
  100% {
    box-shadow: 0 0 5px #26F5F5;
  }
}

main {
    max-width: 800px;
    margin: auto;
}

@media (max-width: 600px){
    h1 {
        font-size: 22px;

    }

    h2 {
        font-size: 18px;
        padding-bottom: 30px;
    }
}

ul {
  list-style: none;
}
  
@media (max-width : 600px) { 
  
}

section {
    padding: 40px;
    margin: 40px;
    max-width: 100%;
    border-radius: 20px;
    text-align: center;
    border: 2px solid var(--border-sections);
    transition: 0.2s;
    overflow: hidden;
    
  }

section {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.6s;
}

section.ativo {
  opacity: 1;
  transform: translateY(0);
}

  section:hover {
    box-shadow: 0 0 20px #26F5F5;
    transform: scale(1.02) ;
  }

  a {
    text-decoration: none;
    color: aqua;
    transition: 0.3s;
  }
  
  a:hover {
    color: rgba(0, 225, 255, 0.443);
    cursor: pointer;
    transform: scale(1.1);

  }

  ul {
    display: flex;
    gap: 15px;
    padding: 0;
  }

  button {
    padding: 5px;
    border-radius: 20px;
    border: 2px solid aqua;
    background-color: #0f0f0f;
    color: white;
    margin-top: 30px;
    
  }

  button:hover {
    background-color: aqua;
    color: #0f0f0f;
  }
  footer {
    text-align: center;
    padding: 9px;
  }

  audio {
    width: 100%;
    margin-top: 10px;
    filter: invert(1);


    
  }

  /* scroll */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #0f0f0f;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #26F5F5;
    border-radius: 10px;
  }

  /* classes */
  @media (max-width: 600px){ 
  .card {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #00e5ff;
    transition: 0.3s;
    border-radius: 5px;
  }
}

  button {
    cursor: pointer;
  }
  
  .card:hover {
   /* box-shadow: 0 0 20px #26F5F5;*/
    transform: scale(1.1) 
  }


  

 

 
